REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=linux:restoration-shorts:v1.0 (by u/YOUR_REDDIT_USERNAME)
REDDIT_SUBREDDIT=restoration
REDDIT_FETCH_LIMIT=25
ARCHIVE_FILE=/home/anish-roy/processed_videos.txt
